
Disc-Stuff/Project P/project-p-4c372-firebase-adminsdk-rkjmv-227641c97a.json
Disc-Stuff/Project P/klefkeys.py
Disc-Stuff/Project P/__pycache__/klefkeys.cpython-311.pyc
Disc-Stuff/Project P/__pycache__/klefkeys.cpython-310.pyc
AI/Calc/Paste.txt
*.json
*.pyc
AI/Notes/keys.py
AI/Calc/keys.py
data/cgm_test.csv
data/cgm_train.csv
data/demo_viome_test.csv
data/demo_viome_train.csv
data/img_test.csv
data/img_train.csv
data/label_test_breakfast_only.csv
data/label_train.csv
*.zip
