{% extends "smart_scheduler/base.html" %} {% block content%}
<body class="background_color">
  <header style="margin-bottom: -40px; margin-top: -20px;">
    <h1>Add meeting contacts</h1>

    <form
      id="new-task-form"
      method="POST"
      action="{% url 'add-meeting-contacts' %}"
    >
      {% csrf_token %}
      <input
        autocomplete="off"
        type="text"
        id="new-task-input"
        placeholder="Search for a contact here."
        name="searched"
      />
      <input type="submit" id="new-task-submit" value="Search" />
    </form>

    <section class="task-list">
      <div id="tasks">
        {% for current_attendee in current_attendees %}
          <div id="div1_added">
            <div class="task2">
                <div class="actions">
                    <a href="{% url 'delete-attendance' current_attendee.id %}" class="edit">
                      <i class="fa fa-times fa-2xl" style="color: #000000" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
          </div>
          <div id="div2_added">
              <div class="task2">
                  <div class="content">
                      <input type="text" class="has_been_added" value="Added {{current_attendee.attendee_name}}" readonly>
                  </div>
              </div>    
          </div>
          <div id="div3_added">
              <div class="task2">
                  <div class="actions">
                    <button> 
                      {% if current_attendee.required == True %}
                        <h3 class="listings_required">Required</h3>
                      {% else %}
                        <h3 class="listings_optional">Optional</h3>
                      {% endif %} 
                    </button>
                  </div>
              </div>
          </div>
          <br/>
        {% endfor %}
      </div>
    </section>
  </header>
  {% if current_attendees.count == 0 %} 
  {% else %}
    <form action="{% url 'meeting-create' %}">
      <button class="button_create" type="submit">
        Proceed to Event Details
      </button>
    </form>
  {% endif %}
  <section class="task-list">
    <div id="tasks">
      {% if searched %} 
        {% for contact in contacts %}


          <div id="div1">
            <div class="task">
                <div class="actions">
                    <button> <a href="{% url 'create-attendance-optional' contact.id %}" class="edit2">Optional</a></button>
                </div>
            </div>
          </div>
          <div id="div2">
              <div class="task">
                  <div class="content">
                      <input type="text" class="text" value="{{ contact.contact_name }}" readonly>
                  </div>
              </div>
          </div>
          <div id="div3">
              <div class="task">
                  <div class="actions">
                    <button> <a href="{% url 'create-attendance-required' contact.id %}" class="edit">Required</a> </button>
                  </div>
              </div>
              
          </div>
          <br/>
        {% endfor %} 
        {% if contacts_count == 0 %}
          <h1>There are no contacts for that search.</h1>
        {% endif %} 
      {% else %} 
      {% if all_contacts.count == 0 and current_attendee.count == 0 %}
        <br>
        <h1 class="form_alert">There are no contacts. Create one using the button below!</h1>
        <br>
        <br>
        <form action="{% url 'contact-create' %}">
          <button class="button_create" type="submit">Create New Contact</button>
        </form>
      {% else %}
        {% for all_contact in all_contacts %}
          <div id="div1">
            <a href="{% url 'create-attendance-optional' all_contact.id %}">
              <div class="task">
                  <div class="actions">
                      <button class="edit2">Optional</button>
                  </div>
              </div>
            </a>
          </div>
          <div id="div2">
              <div class="task">
                  <div class="content">
                      <input type="text" class="text" value="{{ all_contact.contact_name }}" readonly>
                  </div>
              </div>
              
          </div>
          <div id="div3">
            <a href="{% url 'create-attendance-required' all_contact.id %}">
              <div class="task">
                  <div class="actions">
                    <button class="edit">Required</button>
                  </div>
              </div>
            </a>
          </div>
          <br/>
        {% endfor %} 
      {% endif %}
      {% endif %}
    </div>
  </section>
  <br>
  <br>
</body>
{% endblock content %}
