{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'smart_scheduler/slider.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'smart_scheduler/styles.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'smart_scheduler/contact_page.css' %}"
    />
    <script
      src="https://kit.fontawesome.com/16a513dfb1.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    {% if title %}
    <title>Smart Scheduler - {{ title }}</title>
    {% else %}
    <title>Smart Scheduler</title>
    {% endif %}
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'smart_scheduler/media/favicon.ico' %}"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__container">
        {% if user.is_authenticated %}
        <a href="{% url 'user-meetings' user.get_username %}" id="navbar__logo"
          ><i class="fas fa-clock"></i> &nbsp Smart Scheduler</a
        >
        {% else %}
        <a id="navbar__logo"
          ><i class="fas fa-clock"></i> &nbsp Smart Scheduler</a
        >
        {% endif %}
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          {% if user.is_authenticated %}
          <a href="{% url 'profile' %}">
            <li class="navbar__item">
              <img
                height="55"
                width="55"
                class="img_navbar"
                src="{{ request.user.profile.image.url }}"
              />
            </li>
            <li class="navbar__item">
              <a href="{% url 'profile' %}" class="navbar__links"
                >{{ request.user.first_name }}</a
              >
            </li>
          </a>
          {% endif %}
          <li class="navbar__item">
            <a href="{% url 'smart_scheduler-about' %}" class="navbar__links"
              >About</a
            >
          </li>
          {% if user.is_authenticated %}
          <li class="navbar__item">
            <a
              href="{% url 'user-meetings' user.get_username %}"
              class="navbar__links"
              >Meetings</a
            >
          </li>
          <li class="navbar__item">
            <a
              href="{% url 'user-contacts' user.get_username %}"
              class="navbar__links"
              >Contacts</a
            >
          </li>
          <li class="navbar__btn">
            <a href="{% url 'logout' %}" class="button">Logout</a>
          </li>
          {% else %}
          <li class="navbar__btn">
            <a href="{% url 'login' %}" class="button"> Login </a>
          </li>
          <li class="navbar__btn">
            <a href="{% url 'register' %}" class="button"> Register </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <script
      class="cssdeck"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"
    ></script>
    <script src="{% static 'smart_scheduler/app.js' %}"></script>

    <!-- Site footer 
    <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Categories</h6>
              <ul class="footer-links">
                <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
                <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
                <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
                <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
                <li><a href="http://scanfcode.com/category/android/">Android</a></li>
                <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
              </ul>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="http://scanfcode.com/about/">About Us</a></li>
                <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
           <a href="#">Scanfcode</a>.
              </p>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
              </ul>
            </div>
          </div>
        </div>
    </footer>

    -->

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %} {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %} {% endif %} {% block content %}{% endblock %}
        </div>
      </div>
    </main>
  </body>
</html>
