{% extends "smart_scheduler/base.html" %}
{% load crispy_forms_tags%}
{% block content%}
<body class="background_color">
  <form method="POST" class="form_contact_create" autocomplete="off">
    <div class="img-overlay_contact_create"</div>
    <h1>Contact Info</h1>
    {% csrf_token %}
    <div class="inputs">
        <label for="{{ form.contact_name.id_for_label }}" class="label">Contact name</label> 
        <input id="{{ form.contact_name.id_for_label }}" maxlength="40" name="{{ form.contact_name.html_name }}" value="{{ form.contact_name.value|default_if_none:"" }}" type="text" class="django_form" required oninvalid="this.setCustomValidity('Enter a valid name')" oninput="this.setCustomValidity('')">
    </div>
    <div class="inputs">
        <label for="{{ form.email_address.id_for_label }}" class="label">Contact email address</label> 
        <input id="{{ form.email_address.id_for_label }}" maxlength="50" name="{{ form.email_address.html_name }}" value="{{ form.email_address.value|default_if_none:"" }}" type="text" class="django_form" required oninvalid="this.setCustomValidity('Enter a valid email')" oninput="this.setCustomValidity('')" pattern="(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|&quot;(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*&quot;)@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])">
    </div>
    <div class="form-group=">
        <button class="button_create" type="submit">Confirm</button>
    </div>
  </form>
</body>
{% endblock content %}