{% extends "smart_scheduler/base.html" %}
{% block content %}
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <body class="background_color">
        <div class="task-list">
            <div id="tasks">
                <div id="div1">
                    <a href="{% url 'user-contacts' contact.author %}">
                        <div class="task">
                            {% csrf_token %}
                            <div class="actions">
                                <button class="edit">Cancel</button>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="div2">
                    <div class="task">
                        <div class="content">
                            <input type="text" class="text" value="Are you sure you want to delete this contact?" readonly>
                        </div>
                    </div>
                </div>
                <div id="div3">
                    <a href="{% url 'contact-delete' contact.id %}">
                        <div class="task">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="actions">
                                    <button type="submit" class="delete">Delete</button>
                                </div>
                            </form>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </body>
{% endblock content %}