{% extends "smart_scheduler/base.html" %}
{% block content %}
    <body class="background_color">
        <div class="task-list">
            <div id="tasks">
                <div class="task">
                    <div class="content">
                        <input 
                            type="text" 
                            class="text" 
                            value="Are you sure you want to delete this meeting?"
                            readonly>
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="actions">
                                <button type="submit" class="delete">Yes, Delete</button>
                                <button> <a href="{% url 'user-meetings' meeting.author %}" class="edit">Cancel</a></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock content %}