{% extends "smart_scheduler/base.html" %} {% block content%}
<body class="background_color">
  <br />
  <h1 class="meeting_schedule_title">{{meeting.meeting_name }}</h1>
  <br />
  {% if not searched %}

  <h2>Attendee Status</h2>
  <br />
  <section class="task-list">
    <div id="tasks">
      {% for attendee_accept in attendee_accepted %}
      <div style="margin-top: 20px; margin-bottom: 20px;" class="task">
        <div class="content">
          <input
            type="text"
            class="text"
            value="{{ attendee_accept.attendee_name }}"
            readonly
          />
        </div>
        <div class="actions">
          <button class="accept_google">Accepted</button>
        </div>
      </div>
      {% endfor %} {% for attendee_pend in attendee_pending %}
      <div style="margin-top: 20px; margin-bottom: 20px;" class="task">
        <div class="content">
          <input
            type="text"
            class="text"
            value="{{ attendee_pend.attendee_name }}"
            readonly
          />
        </div>
        <div class="actions">
          <button class="yellow">Pending</button>
        </div>
      </div>
      {% endfor %} {% for attendee_decline in attendee_declined %}
      <div style="margin-top: 20px; margin-bottom: 20px;" class="task">
        <div class="content">
          <input
            type="text"
            class="text"
            value="{{ attendee_decline.attendee_name }}"
            readonly
          />
        </div>
        <div class="actions">
          <button class="delete">Declined</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <h2>Meeting Details</h2>
  <br />
  <section class="task-list">
    <div id="tasks">
      {% if meeting.meeting_description != "" %}
        <div class="task">
          <div class="content">
            <input type="text" class="text" value="Description" readonly />
          </div>
          <div class="actions">
            <button class="edit">{{ meeting.meeting_description}}</button>
          </div>
        </div>
      {% endif %}
      <div class="task">
        <div class="content">
          <input type="text" class="text" value="Deadline" readonly />
        </div>
        <div class="actions">
          <button class="edit">{{ meeting.meeting_deadline|date:"l,  F j, Y" }}</button>
        </div>
      </div>
      <br>
      <div class="task">
        <div class="content">
          <input type="text" class="text" value="Duration" readonly />
        </div>
        <div class="actions">
          <button class="edit">
            {{ meeting.meeting_duration_hours }} hours and {{ meeting.meeting_duration_minutes }} minutes
          </button>
        </div>
      </div>
      {% if meeting.meeting_link_location != "" %}
        <div class="task">
          <div class="content">
            <input type="text" class="text" value="Location" readonly />
          </div>
          <div class="actions">
            <button class="edit">{{ meeting.meeting_link_location }}</button>
          </div>
        </div>
      {% endif %}
    </div>
  </section>
  <h2>Number of Scheduling Suggestions</h2>
  <br/>
  <br/>
  <br/>
  <form method="POST">
    {% csrf_token %}
    <div class="range">
      <div class="sliderValue">
        <span id="span_id" style="left:46.25%">5</span>
      </div>
      <div class="field">
        <div class="value_left">1</div>
        <input id="input_id" name="searched" type="range" min="1" max="10" value="5" steps="1">
        <div class="value_right">10</div>
      </div>
    </div>
  </br>
    <form action="" class="form-group=">
      <button class="button_create2" type="submit">Generate Times</button>
    </form>
    <script>
      const slideValue = document.getElementById('span_id');
      // const slideValue = document.querySelector("span");
      const inputSlider = document.getElementById('input_id');
      inputSlider.oninput = (() => {
        let value = inputSlider.value;
        slideValue.textContent = value;
        if (value == 1) {
          slideValue.style.left = 6.5 + "%";
          slideValue.classList.add("show");
        }
        if (value == 2) {
          slideValue.style.left = 16.5 + "%";
          slideValue.classList.add("show");
        }
        if (value == 3) {
          slideValue.style.left = 26.25 + "%";
          slideValue.classList.add("show");
        }
        if (value == 4) {
          slideValue.style.left = 36.25 + "%";
          slideValue.classList.add("show");
        }
        if (value == 5) {
          slideValue.style.left = 46.25 + "%";
          slideValue.classList.add("show");
        }
        if (value == 6) {
          slideValue.style.left = 56.25 + "%";
          slideValue.classList.add("show");
        }
        if (value == 7) {
          slideValue.style.left = 66 + "%";
          slideValue.classList.add("show");
        }
        if (value == 8) {
          slideValue.style.left = 76 + "%";
          slideValue.classList.add("show");
        }
        if (value == 9) {
          slideValue.style.left = 86 + "%";
          slideValue.classList.add("show");
        }
        if (value == 10) {
          slideValue.style.left = 96 + "%";
          slideValue.classList.add("show");
        }
        
      });
      inputSlider.onblur = () => {
        slideValue.classList.remove("show");
      };
    </script>
  </form>
  {% endif %}

  <br />
  <br />

  {% if searched %}
  <section class="task-list">
    <div id="tasks">
      {% for meeting_time_adjusted in meeting_times_adjusted %}
      <div class="task">
        <div class="content">
          <input
            type="text"
            class="text"
            value="{{meeting_time_adjusted.weekday}},&nbsp {{meeting_time_adjusted.month}} {{meeting_time_adjusted.day}}, {{meeting_time_adjusted.year}}&nbsp&nbsp&nbsp {{meeting_time_adjusted.time_hours}}:{{meeting_time_adjusted.time_minutes}} {{meeting_time_adjusted.am_or_pm}}"
            readonly
          />
        </div>
        <div class="actions">
          <button>
            <a
              href="{% url 'google-calendar-push' meeting_id meeting_time_adjusted.id %}"
              class="accept_google"
              >Finalize Meeting</a
            >
          </button>
        </div>
      </div>
      {% for conflict in conflicts %}
        {% if conflict.meeting_time == meeting_time_adjusted%}
          <h3 style="text-align: center; color:#e73c7e;">{{conflict.name}} has a time conflict. </h3>
        {% endif %}
      {% endfor %}
      <br>
      {% endfor %}
    </div>

  </section>
  <br />
  <br />
  <br />
  <form action="" class="form-group=">
    <button class="button_create" type="submit">Return to Scheduling</button>
  </form>

  {% else %} {% endif %}
</body>
<script>
  2023 - 08 - 03;
  var now = new Date().toISOString();
  var now_utc = new Date(now).getTime();
  const d = new Date();
  const diff = d.getTimezoneOffset();
  var selected_date = new Date("{{ meeting.meeting_deadline.isoformat }}");
  const string1 = "Jan 5, 2024 15:37:25";
  // Set the date we're counting down to
  var countDownDate = new Date(selected_date).getTime();

  // Update the count down every 1 second
  var x = setInterval(function () {
    // Get today's date and time
    var now = new Date().toISOString();
    var now_utc = new Date(now).getTime();
    // Find the distance between now and the count down date
    var distance = countDownDate - now_utc + diff;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor(
      (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
    );
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="demo"
    document.getElementById("demo").innerHTML =
      days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

    // If the count down is finished, write some text
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "EXPIRED";
    }
  }, 1000);
</script>
{% endblock content %}
