{% extends "smart_scheduler/base.html" %} {% block content%}
<body class="background_color">
  <br />
  <br />
  <header>
    <h1>My Invitations</h1>
    <form id="new-task-form" method="POST" action="{% url 'rsvp-list' %}">
      {% csrf_token %}
      <input
        autocomplete="off"
        type="text"
        id="new-task-input"
        placeholder="Enter name/email address."
        name="searched"
      />
      <input type="submit" id="new-task-submit" value="Search" />
    </form>
  </header>
  <section class="task-list">
    <div id="tasks">
      {% if searched %} {% for invite in invites %}
      <div class="task">
        <div class="content">
          <input
            type="text"
            class="text"
            value="{{ invite.meeting_name }}         Attendee: {{ invite.attendee_name }} "
            readonly
          />
        </div>
        <div class="actions">
          <button>
            <a
              href="{% url 'accept-meeting-google' invite.meeting_name_id invite.id %}"
              class="accept_google"
              >Google RSVP</a
            >
          </button>
          <button>
            <a href="{% url 'decline-meeting' invite.id %}" class="delete"
              >Decline</a
            >
          </button>
        </div>
      </div>
      {% endfor %} {% if invite_count == 0 %}
      <h1>You have no invites.</h1>
      {% endif %} {% else %} {% endif %} {% for contact in contacts %}
      <div class="task">
        <div class="content">
          <input
            type="text"
            class="text"
            value="{{ contact.contact_name }}"
            readonly
          />
        </div>
        <div class="actions">
          <button>
            <a href="{% url 'contact-update' contact.id %}" class="edit"
              >Update</a
            >
          </button>
          <button>
            <a href="{% url 'contact-delete' contact.id %}" class="delete"
              >Delete</a
            >
          </button>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</body>
{% endblock content %}
