{% extends "smart_scheduler/base.html" %}
{% block content%}
    <body class="background_color">
        {% if page_obj.paginator.count != 0 %} 
            <header>
                <h1>My Contacts</h1>
                <form id="new-task-form" method=POST action="{% url 'search-contacts' %}">
                    {% csrf_token %}
                    <input 
                        autocomplete = "off"
                        type="text"  
                        id="new-task-input" 
                        placeholder="Search for contacts." 
                        name="searched"
                        />
                    <input 
                        type="submit"
                        id="new-task-submit" 
                        value="Search" />
                </form>
            </header>
        {% endif %}
        <section class="task-list">
            <div id="tasks">
                {% if searched %}
                    {% for contact in contacts %}
                        {{ venue }}</br>
                    {% endfor %}
                    {% if contacts_count == 0 %}
                        <h1> There are no contacts for that search. </h1>
                    {% endif %}
                {% else %}
                {% endif %}
                {% if page_obj.paginator.count == 0 %}
                    <br/>
                    <br/>
                    <h1 class="form_alert">There are no contacts. Create one using the button below!</h1>
                {% else %} 
                    {% for contact in contacts %}
                        <div id="div1">
                            <a href="{% url 'contact-delete' contact.id %}">
                                <div class="task">
                                    <div class="actions">
                                        <button class="delete">Delete</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div id="div2">
                            <div class="task">
                                <div class="content">
                                    <input type="text" class="text" value="{{ contact.contact_name }}" readonly>
                                </div>
                            </div>
                        </div>
                        <div id="div3">
                            <a href="{% url 'contact-update' contact.id %}">
                                <div class="task">
                                    <div class="actions">
                                        <button class="edit">Update</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <br/>
                        
                    {% endfor %}
                {% endif %}
            </div>
        </section>
        {% if is_paginated %} 
            {% if page_obj.has_previous %}
                <a class="previous_page" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %} 
            {% for num in page_obj.paginator.page_range %} 
                {% if page_obj.number == num %}
                    <a class="page_number_selected" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                    <a class="page_number" href="?page={{ num }}">{{ num }}</a>
                {% endif %} 
            {% endfor %} 
            {% if page_obj.has_next %}
                <a class="next_page" href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %} 
        {% endif %}
        <br>
        <br>
        <br>
        <form action="{% url 'contact-create' %}">
            <button class="button_create" type="submit">Create New Contact</button>
        </form>

    </body>
{% endblock content %}