{% extends "smart_scheduler/base.html" %} {% block content%}
{% load static %}
    <body class="background_color">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 style="text-align:center;color:#34eb9b;font-size:3rem;">Server connection error. (Error 500)</h1>
        <br>
        <br>
        <form action="{% url 'user-meetings' request.user %}">
            <button class="button_create" type="submit">Return to meetings page</button>
        </form>
    </body>
{% endblock content %}