-C1Y -C3B C2W
-C1B -C3Y C2W
-C1Y -C3W C2B
-C1W -C3Y C2B
-C1W -C3B C2Y
-C1B -C3W C2Y
-O3Y -L3B C3Y
-O1Y -L1B C1Y
-O1Y -C3Y C1B
O1Y
-O1B
-O1W
L1W
-L1B
-L1Y
O2W
-O2B
-O2Y
L2Y
-L2B
-L2W
O3Y
-O3B
-O3W
L3B
-L3Y
-L3W