<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
<style>

</style>
</head>
<body>
<div class="spacer"></div>
<div class="left active">Recipes</div>
<div class="middle">Schedule</div>
<div class="right">Groceries</div>
<div class="spacer"></div>
<div class="leftsideMenu">
    <searchcontainer>Search</searchcontainer>
    <ul>
        <li><a class="active">Recipe 1</a></li>
        <li><a>Recipe 2</a></li>
        <li><a>Recipe 3</a></li>
        <li><a>Recipe 4</a></li>
        <li><a>Recipe 1</a></li>
        <li><a>Recipe 2</a></li>
        <li><a>Recipe 3</a></li>
        <li><a>Recipe 4</a></li>
        <li><a>Recipe 1</a></li>
        <li><a>Recipe 2</a></li>
        <li><a>Recipe 3</a></li>
        <li><a>Recipe 4</a></li>
        <li><a>Recipe 1</a></li>
        <li><a>Recipe 2</a></li>
        <li><a>Recipe 3</a></li>
        <li><a>Recipe 4</a></li>
        <li><a>Recipe 1</a></li>
        <li><a>Recipe 2</a></li>
        <li><a>Recipe 3</a></li>
        <li><a>Recipe 4</a></li>
    </ul>
</div>
<div class="rightsideMenu">
    <r>
        <imagecontainer>
            <p style="text-align:center;"><img src="../hd_boof.png" alt="dog boof"></p>
        </imagecontainer>
        <buttoncontainer></buttoncontainer>
    </r>
    <l>
        <h1>{Recipe Name}</h1>
        <h2>Ingredients</h2>
        <ul>
            <li>{Ingredient}</li>
            <li>{Ingredient}</li>
            <li>{Ingredient}</li>
            <li>{Ingredient}</li>
            <li>{Ingredient}</li>
            <li>{Ingredient}</li>
            <li>{Ingredient}</li>
            <li>{Ingredient}</li>
            <li>{Ingredient}</li>
        </ul>
        <h2>Directions</h2>
        <ol>
            <li>{Directions}</li>
            <li>{Directions}</li>
            <li>{Directions}</li>
            <li>{Directions}</li>
            <li>{Directions}</li>
            <li>{Directions}</li>
            <li>{Directions}</li>
            <li>{Directions}</li>
            <li>{Directions}</li>
            <li>{very very very very very very very very very very very very LONG Directions}</li>
            <li>{Directions}</li>
            <li>{Directions}</li>
            <li>{Directions}</li>
            <li>{Directions}</li>
            <li>{Directions}</li>
            <li>{Directions}</li>
            <li>{Directions}</li>
            <li>{Directions}</li>
            <li>{Directions}</li>
            <li>{Directions}</li>
            <li>{Directions}</li>
            <li>{Directions}</li>
            <li>{Directions}</li>
            <li>{Last}</li>
        </ol>
    </l>
</div>




</body>