<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  {% load recipes %}
<style>

</style>
</head>
<body>
<div class="spacer"></div>
<div class="left active">Recipes</div>
<div class="middle">Schedule</div>
<div class="right">Groceries</div>
<div class="spacer"></div>
<div class="leftsideMenu">
    <searchcontainer>Search</searchcontainer>
    <ul>
        {% for r in NameList %}
        <li><a>{{ r }}</a></li>
        {% endfor %}
        <!-- <li><a class="active">Recipe 1</a></li> -->
    </ul>
</div>
<div class="rightsideMenu">
    <r>
        <imagecontainer>
            <p style="text-align:center;"><img src="../static/img/RecipeBook.png" alt="img"></p>
        </imagecontainer>
        <buttoncontainer></buttoncontainer>
    </r>
    <!-- <l>
        <h1>{{ First.Name }}</h1>
        <p>{{First.Author}}</p>
        <h2>Ingredients</h2>
        <ul>
            {% for i in First.Ingredients %}
            <li>{{i.Quantity}}{{i.Units}} {{ i.Name }}</li>
            {% endfor %}
        </ul>
        <h2>Directions</h2>
        <ol>
            {% for i in First.Directions %}
            <li>{{ i }}</li>
            {% endfor %}
        </ol>
    </l> -->
    <l>
        <h1>{{ First }}</h1>
        <p>{{List|lookup_author:First}}</p>
        <h2>Ingredients</h2>
        <ul>
            {% for i in List|lookup_ingredients:First %}
            <li>{{i.Quantity}}{{i.Units}} {{ i.Name }}</li>
            {% endfor %}
        </ul>
        <h2>Directions</h2>
        <ol>
            {% for i in List|lookup_directions:First %}
            <li>{{ i }}</li>
            {% endfor %}
        </ol>
    </l>
</div>