WAR WAG WAB
NTR NTG NTB
SAR SAG SAB
QR QG QB
NSWR NSWG NSWB
VR VG VB
-WAR -WAG
-WAR -WAB
-WAB -WAG
-NTR -NTG
-NTR -NTB
-NTB -NTG
-SAR -SAG
-SAR -SAB
-SAB -SAG
-QR -QG
-QR -QB
-QB -QG
-NSWR -NSWG
-NSWR -NSWB
-NSWB -NSWG
-VR -VG
-VR -VB
-VB -VG
-WAR -NTR
-WAR -SAR
-WAG -NTG
-WAG -SAG
-WAB -NTB
-WAB -SAB
-NTR -WAR
-NTR -SAR
-NTR -QR
-NTG -WAG
-NTG -SAG
-NTG -QG
-NTB -WAB
-NTB -SAB
-NTB -QB
-SAR -WAR
-SAR -NTR
-SAR -QR
-SAR -NSWR
-SAR -VR
-SAG -WAG
-SAG -NTG
-SAG -QG
-SAG -NSWG
-SAG -VG
-SAB -WAB
-SAB -NTB
-SAB -QB
-SAB -NSWB
-SAB -VB
-QR -NTR
-QR -SAR
-QR -NSWR
-QG -NTG
-QG -SAG
-QG -NSWG
-QB -NTB
-QB -SAB
-QB -NSWB
-NSWR -SAR
-NSWR -QR
-NSWR -VR
-NSWG -SAG
-NSWG -QG
-NSWG -VG
-NSWB -SAB
-NSWB -QB
-NSWB -VB
-VR -SAR
-VR -NSWR
-VG -SAG
-VG -NSWG
-VB -SAB
-VB -NSWB
TR
SAB